<nav class="navbar">
  
  <div class="logo">
    <a routerLink="/rentals">Car Rent</a> 
  </div>

  <ul class="nav-links">
    <li>
      <a 
        routerLink="/cars" 
        routerLinkActive="active-link"
      >
        Carros
      </a>
    </li>

    <li>
      <a 
        routerLink="/rentals" 
        routerLinkActive="active-link"
      >
        Aluguéis
      </a>
    </li>

    <li>
      <a 
        routerLink="/costumers" 
        routerLinkActive="active-link"
      >
        Clientes
      </a>
    </li>
  </ul>
</nav>