.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-card {
  max-width: 400px;
  width: 100%;
  padding: 20px;
}

.full-width-input {
  width: 100%;
  margin-bottom: 15px;
}

.register-link {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    margin-bottom: 5px;
  }
}